<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<<<<<<< HEAD
    <%= f.label :title %><br>
    <%= f.text_field :title %>
=======
<<<<<<< HEAD
    <%= f.label :title %><br>
    <%= f.text_field :title %>
=======
    <%= f.label :post %><br>
    <%= f.text_field :post %>
>>>>>>> 8bb3836362401ceefcc40d57a2e4a15fe4ccb16c
>>>>>>> origin/master
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
