<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
<<<<<<< HEAD
      <th>Title</th>
=======
<<<<<<< HEAD
      <th>Title</th>
=======
      <th>Post</th>
>>>>>>> 8bb3836362401ceefcc40d57a2e4a15fe4ccb16c
>>>>>>> origin/master
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
<<<<<<< HEAD
        <td><%= post.title %></td>
=======
<<<<<<< HEAD
        <td><%= post.title %></td>
=======
        <td><%= post.post %></td>
>>>>>>> 8bb3836362401ceefcc40d57a2e4a15fe4ccb16c
>>>>>>> origin/master
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
